.header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.header-title {
    margin: 0;
    font-size: 32px;
}

.header-description {
    font-size: 10px;
}

.card {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.menu {
    margin: 10px;
}

.wrapper, .metrics-wrapper, .filters-wrapper {
    display: flex;
    justify-content: space-around;
}
body {
    margin: 0;  /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    width: 100%; /* Ensure body takes full width */
    height: 100%; /* Ensure body takes full height */
}

.container {
    width: 100%; /* Ensure container takes full width */
    height: auto; /* Adjust height as needed */
}